<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>會員中心</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
</head>

<body>
	<div th:replace="~{/public/layout/navbar}"></div>
	<div class="container">
		<h1>會員編輯</h1>

		<div class="card">
			<div class="card-header">
				會員詳細資訊
			</div>

			<div class="card-body">
				<form id="memberForm" enctype="multipart/form-data">

					<div class="mb-3">
						<label class="form-label" for="memberName">姓名</label>
						<input class="form-control" type="text" name="memberName" th:value="${member.memberName}"
							required>
					</div>

					<div class="mb-3">
						<label class="form-label" for="memberBirth">生日</label>
						<input class="form-control" type="date" id="memberBirth" name="memberBirth"
							th:value="${member.memberBirth}" required>
					</div>

					<div class="mb-3">
						<label class="form-label" for="memberGender">性別</label>
						</br>
						<fieldset required>
							<input class="form-check-input" type="radio" name="memberGender" id="Male" value="男"
								th:value="${member.memberGender}" required>
							<label class="form-check-label" for="Male">男性</label>
							<input class="form-check-input" type="radio" name="memberGender" id="Female" value="女"
								th:value="${member.memberGender}" required>
							<label class="form-check-label" for="Female">女性</label>
							<input class="form-check-input" type="radio" name="memberGender" id="Nonbinary" value="多元性別"
								th:value="${member.memberGender}" required>
							<label class="form-check-label" for="Nonbinary">多元性別</label>
						</fieldset>
					</div>

					<div class="mb-3">
						<label class="form-label" for="memberEmail">電子郵件</label>
						<input class="form-control" type="email" name="memberEmail" placeholder="you@mail.com"
							th:value="${member.memberEmail}" required>
					</div>

					<div class="mb-3">
						<label class="form-label" for="psw">設定密碼</label>
						<input class="form-control" type="password" id="pswInput" name="memberPwd"
							placeholder="至少1個大寫字母、1個小寫字母、1個數字，長度至少8個字元" th:value="${member.memberPwd}" required>
						<input type="checkbox"
							onclick="togglePasswordVisibility('pswInput','pswConfirmInput')">顯示密碼</span>
					</div>

					<div class="mb-3">
						<label class="form-label" for="phone">手機號碼(+886)</label>
						<input class="form-control" type="text" id="memberPhone" name="memberPhone"
							onclick="phoneLength()" th:value="${member.memberPhone}" required>
					</div>
					<!-- 
					<div class="mb-3">
						<label class="form-label" for="memberPhoto">頭像照片</label>
						<img th:if="${member.memberPhoto}" th:src="${member.memberPhoto}" alt="會員照片"
							class="img-thumbnail">
						<input type="file" id="photo" name="photo" accept="image/*" class="form-control" required>
					</div>
					-->

					<div class="mb-3">
						<label class="form-label" for="memberPhoto">頭像照片</label>
						<li th:if="${session.loginMember}">
							<!-- 網站端登入 使用Base64編碼的圖片 -->
							<img class="img" th:if="${session.loginMember.memberPhoto ne null}"
								th:src="'data:image/jpeg;base64,' + ${session.loginMember.memberPhoto}" />
							<!-- Google 登入 使用 URL 的圖片 -->
							<img class="img" th:if="${session.loginMember.memberPhoto eq null}"
								th:src="${session.loginMember.photoURL}" />
						</li>
						<input type="file" id="photo" name="photo" accept="image/*" class="form-control" required>
					</div>
					


					<!-- 
					<label for="insId">選擇興趣</label>
					<select name="insId" id="insId" name="insId" th:value="${member.insId}" required>
						<option value="" disabled selected>請選擇興趣</option>
						<option th:each="interest : ${interests}" th:value="${interest.insId}"
							th:text="${interest.insName}">
						</option>
					</select>
					 -->

				</form>
			</div>
		</div>


		<div th:replace="~{/public/layout/footer}"></div>

		<script>
			// 顯示密碼function
			function togglePasswordVisibility(pswInput, pswConfirmInput) {
				const passwordInput = document.getElementById(pswInput);

				// 切換第一個密碼輸入框的類型
				if (passwordInput.type === "password") {
					passwordInput.type = "text";
				} else {
					passwordInput.type = "password";
				}
			}

			function validateForm() {
				// 驗證手機號碼長度是否為9碼
				let phone = document.getElementById('memberPhone').value;
				if (phone.length !== 9) {
					alert('手機號碼長度應為9碼');
					return false;
				}

				// 驗證密碼格式是否符合正規表達式
				let passwordRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d).{8,}$/;
				if (!passwordRegex.test(password)) {
					alert('密碼格式不符合要求');
					return false;
				}

				// 驗證上傳檔案大小、尺寸和類型
				let fileInput = document.getElementById('photo');
				let fileSize = fileInput.files[0].size;
				let fileType = fileInput.files[0].type;

				// 檢查檔案大小是否超過 1MB
				if (fileSize > 1024 * 1024) { // 1 MB
					alert('檔案大小不得超過1MB');
					return false;
				}

				// 檢查檔案類型是否為圖片
				if (!fileType.startsWith('image/')) {
					alert('請上傳圖片檔案');
					return false;
				}

				// 如果通過所有驗證，提交表單&顯示提示框
				showAlert();
				return true;
			}

			const showAlert = () => {
				Swal.fire({
					icon: 'success',
					title: '您已成功修改',
					//text: '趕緊前往信箱收信，立即啟用您的帳號！',
				})
			}

		</script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>

</body>

</html>