<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>VueJS</title>
	<script src="https://unpkg.com/vue@3"></script>
	<style>
		/* 样式可以根据需要进行调整 */
		.clickable-element {
			cursor: pointer;
			color: blue;
			text-decoration: underline;
		}
	</style>


</head>

<body>
	<div th:replace="~{/public/layout/navbar}"></div>

	<div th:unless="${session.loginMember}">
		<h3>目前無預約場地</h3>
	</div>

	<div id="app">

		<table class="table">
			<thead>
				<tr>
					<th scope="col">預約編號</th>
					<th scope="col">場地</th>
					<th scope="col">開始日期</th>
					<th scope="col">結束日期</th>
					<th scope="col">活動名稱</th>
					<th scope="col">舉辦活動</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="reserve in reserves" :key="reserve.reserveId">
					<td>{{ reserve.reserveId }}</td>
					<td v-if="reserve.arenaId == 1">競賽場</td>
					<td v-if="reserve.arenaId == 2">婚宴館</td>
					<td>{{ reserve.reserveDayStart }}</td>
					<td>{{ reserve.reserveDayEnd }}</td>
					<td v-if="reserve.activities && reserve.activities.length > 0">
						<ul>
							<li class="clickable-element" @click.prevents="navigateToActivityHold(activity.activityId)" v-for="activity in reserve.activities">{{ activity.activityName }}</li>
						</ul>
					</td>
					<td v-if="reserve.activities.length == 0"></td> <!-- 如果不需要顯示活動名稱的列，可以刪除這一行 -->

					<td>
						<button v-if="reserve.arenaId == 1" class="btn btn-primary"
							@click.prevent="navigateToAddActivity(reserve.reserveId)">舉辦活動</button>

						<button v-if="reserve.arenaId == 2" class="btn btn-primary"
							@click.prevent="navigateToAddWedding(reserve.reserveId)">舉辦婚禮</button>
					</td>
				</tr>
			</tbody>
		</table>

	<div th:replace="~{/public/layout/footer}"></div>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
	<script src="vendors/simplebar/js/simplebar.min.js"></script>

	<script src="vendors/@coreui/utils/js/coreui-utils.js"></script>

	<!--	<script src="js/main.js"></script>  -->

	<script>
		const {createApp, ref, onMounted, computed, reactive} = Vue;

		const App = {

			setup() {
				const reserves = ref([]);
				//		const activites = ref([]);



				const getAllReserve = async () => {
					const response = await axios.get('http://localhost:8087/ee172/reserve/getAllReserve');
					console.log(response.data)
					reserves.value = response.data;
					console.log(reserves.value)
				}

				//		const getAllActivityByReserveId = async () => {

				//const reserveId = reserves.reserveId;

				//			const response = await axios.get(`http://localhost:8087/ee172/activity/getAllActivityByReserveId`, {params: {reserveId}});
				//			console.log(response.data)
				//			activites.value = response.data;
				//			console.log(activites.value)
				//		}

				function navigateToAddActivity(reserveId) {
					//以測試確定可以傳reserveId
					console.log(reserveId);

					try {
						window.location.href = `http://localhost:8087/ee172/addActivity/${reserveId}`;
					} catch (error) {
						console.error(error);
					}
				}

				function navigateToActivityHold(activityId) {
					try {
						window.location.href = `http://localhost:8087/ee172/activityHold/${activityId}`;
					} catch (error) {
						console.error(error);
					}
				}

				function navigateToAddWedding(reserveId) {
					//以測試確定可以傳reserveId
					console.log(reserveId);

					try {
						window.location.href = `http://localhost:8087/ee172/addWedding/${reserveId}`;
					} catch (error) {
						console.error(error);
					}
				}

				onMounted(() => {
					getAllReserve();
					//	getAllActivityByReserveId();
				});



				return {
					reserves,
					//activites,
					getAllReserve,
					//getAllActivityByReserveId,
					navigateToAddActivity,
					navigateToActivityHold,
					navigateToAddWedding,
				}
			},

		}
		Vue.createApp(App).mount('#app')
	</script>
</body>

</html>