<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >

  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>CoreUI Free Bootstrap Admin Template</title>

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">


  <!-- Main styles for this application-->
  <link href="css/style.css" rel="stylesheet">


  <!-- Vue 3 和 Axios -->
  <script src="js/vue.global.js"></script>


  <!-- Thymeleaf 整合的 JavaScript 資源 -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/jquery-3.7.1.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <style>
    .employee-container {
      position: relative;
    }

    .employee-photo {
      position: absolute;
      top: 10px;    /* 根據需要調整上側邊距 */
      right: 10px;  /* 根據需要調整右側邊距 */
      width: 100px;
      height: 100px;
      border-radius: 50%;  /* 可選，用於使圖片呈現圓形 */
    }

    .employee-photo1 {
      position: absolute;
      top: 10px;    /* 根據需要調整上側邊距 */
      right: 10px;  /* 根據需要調整右側邊距 */
      width: 40px;
      height: 40px;
      border-radius: 50%;  /* 可選，用於使圖片呈現圓形 */
    }



    .time-display {

    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const userRole = sessionStorage.getItem("userRole");

      if (userRole !== "1" && userRole !== "2") {
        document.querySelectorAll('.admin-only').forEach(el => el.style.display = 'none');
      } else {
        document.querySelectorAll('.admin-only').forEach(el => el.style.display = 'block');
      }
    });
    const adminElements = document.querySelectorAll('.admin-only');
    console.log("Number of .admin-only elements:", adminElements.length);

    adminElements.forEach(el => {
      const currentDisplay = window.getComputedStyle(el).display;
      console.log("Current display style for admin-only element:", currentDisplay);
    });
  </script>

</head>

<body>

<!--  sidebar-->
<th:block th:replace="~{steven/sidebar :: sidebar}"></th:block>

<th:block th:replace="~{steven/header :: header}"></th:block>

  <!--container-->


  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="row">

      </div>

    </div>








    <div id="app" class="container mt-3">


      <div v-if="selectedEmployee" class="container mt-4 border p-3 employee-container" style="max-width: 400px;">
        <!-- 照片元素 -->
        <img v-if="selectedEmployee.empPhoto" :src="'data:image/jpeg;base64,' + selectedEmployee.empPhoto"
             alt="員工頭像" class="employee-photo" />
        <h3>員工詳細信息</h3>
        <form @submit.prevent="updateEmployeeDetails" class="row g-1 needs-validation">
          <div class="row mb-3">
            <div class="col-6">
              <label for="empName" class="form-label">姓名：</label>
              <input id="empName" class="form-control" v-model="selectedEmployee.empName" >

            </div>
            <div class="mb-3 w-30">
              <label for="gender" class="form-label">性別：</label>
              <input id="gender" class="form-control" v-model="selectedEmployee.gender" disabled>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email：</label>
            <input id="email" type="email" class="form-control" v-model="selectedEmployee.email">
          </div>

          <div class="mb-3">
            <label for="department" class="form-label">部門：</label>
            <select id="department" class="form-control" v-model="selectedEmployee.departmentId">
              <option value="1">中央管理部門</option>
              <option value="2">活動管理部門</option>
              <option value="3">婚禮管理部門</option>
              <option value="4">交友管理部門</option>
              <option value="5">活動管理部門</option>
            </select>

          </div>

          <div class="mb-3">
            <label for="position" class="form-label">職位：</label>
            <select id="position" class="form-control" v-model="selectedEmployee.positionId">
              <option value="1">總經理</option>
              <option value="2">部門經理</option>
              <option value="3">部門主管</option>
              <option value="4">一般員工</option>

            </select>

          </div>
          <div class="mb-3">
            <label for="birthdate" class="form-label">生日：</label>
            <input id="birthdate" type="date" class="form-control"   v-model="selectedEmployee.birthDate"  >
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="phone" class="form-label">電話：</label>
              <input id="phone"  class="form-control" v-model="selectedEmployee.phone">
            </div>

          </div>
          <div class="row mb-3">

            <div class="col">
              <label for="address" class="form-label">地址：</label>
              <input id="address" class="form-control" v-model="selectedEmployee.address">
            </div>
          </div>

          <div class="mb-3">
            <label for="workType" class="form-label">班別：</label>
            <select id="workType" class="form-control" v-model="selectedEmployee.workTypeId">
              <option value="1">Day</option>
              <option value="2">Night</option>
              </select>

          </div>

          <div class="mb-3">
            <label for="preferType" class="form-label">班別喜好：</label>
            <input id="preferType"  class="form-control" v-model="selectedEmployee.preferType">
          </div>
          <div class="mb-3">
            <label for="salary" class="form-label">薪資：</label>
            <input id="salary"  class="form-control" v-model="selectedEmployee.salary">
          </div>

          <div class="mb-3">
            <label for="role" class="form-label">權限：</label>
            <select id="role" class="form-control" v-model="selectedEmployee.role">
              <option value="1">最高級別</option>
              <option value="2">經理級別</option>
              <option value="3">主管級別</option>
              <option value="4">員工級別</option>
            </select>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-danger" @click="deleteEmployee">刪除員工</button>
          </div>

          <button type="submit" class="btn btn-primary">保存更改</button>
        </form>
      </div>
      <br>




      <div>

        <select v-model="searchParams.type" class="form-select form-select-sm mb-2" aria-label=".form-select-sm example">
          <option value="departmentName">部門名稱</option>
          <option value="empName">員工姓名</option>
          <option value="positionName">職位名稱</option>
        </select>


        <input v-model="searchParams.query" placeholder="搜尋部門/員工/職位" class="form-control form-control-sm mb-2" aria-label="Small" aria-describedby="inputGroup-sizing-sm">


        <button @click="performSearch" class="btn btn-primary btn-sm">搜尋</button>
      </div>

      <div>
      <h2>員工列表</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>名字</th>
          <th>部門</th>
          <th>班別</th>
          <th>職位</th>
          <th>詳細</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="employee in employees" :key="employee.empId">
          <td>{{ employee.empId }}</td>
          <td>{{ employee.empName }}</td>
          <td>{{ employee.departmentName }}</td>
          <td>{{ employee.workType }}</td>
          <td>{{ employee.positionName }}</td>
          <td><button class="btn btn-primary" @click="fetchEmployeeDetails(employee.empId)">查看</button></td>
        </tr>
        </tbody>
      </table>

        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" :class="{ disabled: currentPage === 1 }">
              <button class="page-link" @click="changePage(currentPage - 1)">上一頁</button>
            </li>
            <li class="page-item" :class="{ active: page === currentPage }" v-for="page in totalPages" :key="page">
              <button class="page-link" @click="changePage(page)">{{ page }}</button>
            </li>
            <li class="page-item" :class="{ disabled: currentPage === totalPages }">
              <button class="page-link" @click="changePage(currentPage + 1)">下一頁</button>
            </li>
          </ul>
        </nav>

      </div>

    </div>


  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
<script src="vendors/simplebar/js/simplebar.min.js"></script>

<script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="js/main.js"></script>
<script>
  const { createApp, ref, onMounted } = Vue;

    createApp({
      setup() {
        const user = ref(null);
        const userRole = ref(sessionStorage.getItem("userRole"));

        const employeePhoto = ref('');
        const employees = ref([]);
        const selectedEmployee = ref(null);
        const currentPage = ref(1);
        const totalPages = ref(5);

        const searchParams = ref({
          type: 'departmentName',
          query: ''
        });

        const performSearch = async () => {
          try {
            const response = await axios.get(`http://localhost:8087/ee172/api/backstage/employee/searchEmployee`, {
              params: {
                type: searchParams.value.type,
                query: searchParams.value.query,
                p: 1 // 始終從第一頁開始搜尋
              }
            });
            employees.value = response.data.content;
            totalPages.value = response.data.totalPages;
            currentPage.value = response.data.number + 1;
          } catch (error) {
            console.error('Error during search:', error);
          }
        };

        const changePage = (page) => {
          console.log("當前頁碼：", page);
          if (page >= 1 && page <= totalPages.value) {
            currentPage.value = page;
            console.log("更新後的頁碼：", currentPage.value);
            fetchEmployees();
          }


        };

        const fetchEmployees = async (pageNumber = 1) => {
          try {
            const response = await axios.get(`http://localhost:8087/ee172/api/backstage/employee/empListData`, {
              params: { p: currentPage.value }
            });
            employees.value = response.data.content; //
            totalPages.value = response.data.totalPages; //
            currentPage.value = response.data.number + 1; //
          } catch (error) {
            console.error('Error fetching employees:', error);
          }
        };

        const fetchEmployeeDetails = async (empId) => {
          try {
            const response = await axios.get(`http://localhost:8087/ee172/api/backstage/employee/${empId}`);
            selectedEmployee.value = response.data;
          } catch (error) {
            console.error('Error fetching employee details:', error);
          }
        };

        const updateEmployeeDetails = async () => {
          if (selectedEmployee.value && selectedEmployee.value.empId) {
            try {
              await axios.put(`http://localhost:8087/ee172/api/backstage/employee/${selectedEmployee.value.empId}`, selectedEmployee.value);
              Swal.fire(
                      '更新成功！',
                      '員工信息已更新。',
                      'success'
              );
              selectedEmployee.value = null;
              await fetchEmployees();
            } catch (error) {
              console.error('Error updating employee details:', error);
              Swal.fire(
                      '更新失敗',
                      '無法更新員工信息。',
                      'error'
              );
            }
          }
        };


        const fetchUserInfo = async () => {
          try {
            const response = await axios.get('http://localhost:8087/ee172/api/backstage/employee/info');
            user.value = response.data;
            sessionStorage.setItem("userRole", user.value.role);
            console.log("UserRole from sessionStorage:", sessionStorage.getItem("userRole"));
            // 根據角色顯示或隱藏元素
            if (user.value.role !== "1" && user.value.role !== "2") {
              document.querySelectorAll('.admin-only').forEach(el => el.style.display = 'none');
            } else {
              document.querySelectorAll('.admin-only').forEach(el => el.style.display = 'block');
            }
          } catch (error) {
            console.error('Error fetching user info:', error);
          }
        };


        const fetchEmployeePhoto = async () => {
          try {
            const response = await axios.get('http://localhost:8087/ee172/api/backstage/employee/getPhoto'); //
            employeePhoto.value = 'data:image/jpeg;base64,' + response.data;
            console.log("employeePhoto:", employeePhoto.value)
            console.log("employeePhoto:", response.data)
          } catch (error) {
            console.error('Error fetching employee photo:', error);
          }
        };




        const deleteEmployee = async () => {
          if (selectedEmployee.value && selectedEmployee.value.empId) {
            Swal.fire({
              title: '確定要刪除這名員工嗎？',
              text: "此操作無法撤銷！",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: '是的，刪除它！',
              cancelButtonText: '取消'
            }).then(async (result) => {
              if (result.isConfirmed) {
                try {
                  await axios.delete(`http://localhost:8087/ee172/api/backstage/employee/delete/${selectedEmployee.value.empId}`);
                  Swal.fire(
                          '已刪除！',
                          '員工已被刪除。',
                          'success'
                  );

                  selectedEmployee.value = null;
                  await fetchEmployees();

                } catch (error) {
                  console.error('Error deleting employee:', error);
                  Swal.fire(
                          '刪除失敗',
                          '無法刪除員工。',
                          'error'
                  );
                }
              }
            });
          }
        };


        onMounted(fetchEmployees(), fetchUserInfo(), fetchEmployeePhoto());

        return {
          user,userRole,employeePhoto,employees,
          selectedEmployee,
          fetchEmployeeDetails,
          updateEmployeeDetails,
          currentPage,
          totalPages,
          changePage,deleteEmployee,
          searchParams,
          performSearch};
      }
    }).mount('#app');

  </script>


</body>
</html>