<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >

  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>CoreUI Free Bootstrap Admin Template</title>

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">


  <!-- Main styles for this application-->
  <link href="css/style.css" rel="stylesheet">


  <!-- Vue 3 和 Axios -->
  <script src="js/vue.global.js"></script>


  <!-- Thymeleaf 整合的 JavaScript 資源 -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/jquery-3.7.1.min.js"></script>

  <style>
    .employee-container {
      position: relative;
    }

    .employee-photo {
      position: absolute;
      top: 10px;    /* 根據需要調整上側邊距 */
      right: 10px;  /* 根據需要調整右側邊距 */
      width: 100px;
      height: 100px;
      border-radius: 50%;  /* 可選，用於使圖片呈現圓形 */
    }

    .employee-photo1 {
      position: absolute;
      top: 10px;    /* 根據需要調整上側邊距 */
      right: 10px;  /* 根據需要調整右側邊距 */
      width: 40px;
      height: 40px;
      border-radius: 50%;  /* 可選，用於使圖片呈現圓形 */
    }




  </style>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const userRole = sessionStorage.getItem("userRole");

    if (userRole !== "1" && userRole !== "2") {
      document.querySelectorAll('.admin-only').forEach(el => el.style.display = 'none');
    } else {
      document.querySelectorAll('.admin-only').forEach(el => el.style.display = 'block');
    }
  });
  const adminElements = document.querySelectorAll('.admin-only');
  console.log("Number of .admin-only elements:", adminElements.length);

  adminElements.forEach(el => {
    const currentDisplay = window.getComputedStyle(el).display;
    console.log("Current display style for admin-only element:", currentDisplay);
  });
</script>

</head>

<body>

<!--  sidebar-->
<th:block th:replace="~{steven/sidebar :: sidebar}"></th:block>

<th:block th:replace="~{steven/header :: header}"></th:block>


  <!--container-->


  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      <div class="row">

      </div>

    </div>








    <div id="app" class="container mt-3">


      <div  class="container mt-4 border p-3 employee-container" style="max-width: 400px;">
        <!-- 照片元素 -->
        <img v-if="selectedEmployee.empPhoto" :src="'data:image/jpeg;base64,' + selectedEmployee.empPhoto"
             alt="員工頭像" class="employee-photo" />
        <h3>員工詳細信息</h3>
        <form @submit.prevent="updateEmployeeDetails" class="row g-1 needs-validation">
          <div class="row mb-3">
            <div class="col-6">
              <label for="empName" class="form-label">姓名：</label>
              <input id="empName" class="form-control" v-model="selectedEmployee.empName" disabled >

            </div>
            <div class="mb-3 w-30">
              <label for="password" class="form-label">密碼：</label>
              <input id="password" class="form-control" type="password" v-model="selectedEmployee.password" >
            </div>
            <div class="mb-3 w-30">
              <label for="gender" class="form-label">性別：</label>
              <input id="gender" class="form-control" v-model="selectedEmployee.gender" disabled>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email：</label>
            <input id="email" type="email" class="form-control" v-model="selectedEmployee.email">
          </div>

          <div class="mb-3">
            <label for="department" class="form-label">部門：</label>
            <input id="department" class="form-control" v-model="selectedEmployee.departmentName" disabled>

          </div>

          <div class="mb-3">
            <label for="position" class="form-label">職位：</label>
            <input id="position" class="form-control" v-model="selectedEmployee.positionName" disabled>

          </div>
          <div class="mb-3">
            <label for="birthdate" class="form-label">生日：</label>
            <input id="birthdate" type="date" class="form-control"   v-model="selectedEmployee.birthDate"  >
          </div>
          <div class="mb-3">

              <label for="phone" class="form-label">電話：</label>
              <input id="phone"  class="form-control" v-model="selectedEmployee.phone">


          </div>
          <div class="mb-3">


              <label for="address" class="form-label">地址：</label>
              <input id="address" class="form-control" v-model="selectedEmployee.address">

          </div>
          <div class="mb-3">
            <label for="workType" class="form-label">班別：</label>
            <input id="workType" class="form-control" v-model="selectedEmployee.workType" disabled>


          </div>

          <div class="mb-3">
            <label for="preferType" class="form-label">班別喜好：</label>
            <input id="preferType"  class="form-control" v-model="selectedEmployee.preferType">
          </div>
          <div class="mb-3">
            <label for="salary" class="form-label">薪資：</label>
            <input id="salary"  class="form-control" v-model="selectedEmployee.salary" disabled>
          </div>

            <div class="input-group mb-4">
              <label for="file" class="form-label">更改照片：</label>
              <input id="file" class="form-control" type="file" placeholder="Picture" @change="fileChange">
            </div>


          <button type="submit" class="btn btn-primary">保存更改</button>
        </form>
      </div>
      <br>



      </div>




  </div>
</div>



<!--<script>-->
<!--  document.addEventListener("DOMContentLoaded", function() {-->
<!--    const userRole = sessionStorage.getItem("userRole");-->

<!--    if (userRole !== "1" && userRole !== "2") {-->
<!--      document.querySelectorAll('.admin-only').forEach(el => el.style.display = 'none');-->
<!--    } else {-->
<!--      document.querySelectorAll('.admin-only').forEach(el => el.style.display = 'block');-->
<!--    }-->
<!--  });-->
<!--</script>-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
<script src="vendors/simplebar/js/simplebar.min.js"></script>

<script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="js/main.js"></script>
  <script>
    const { createApp, ref, onMounted } = Vue;

    createApp({
      setup() {

        const user = ref(null);
        const userRole = ref(sessionStorage.getItem("userRole"));

        const employeePhoto = ref('');
        const selectedEmployee = ref({});




        const fetchUserInfo = async () => {
          try {
            const response = await axios.get('http://localhost:8087/ee172/api/backstage/employee/info');
            user.value = response.data;
            sessionStorage.setItem("userRole", user.value.role);
            console.log("UserRole from sessionStorage:", sessionStorage.getItem("userRole"));
            // 根據角色顯示或隱藏元素
            if (user.value.role !== "1" && user.value.role !== "2") {
              document.querySelectorAll('.admin-only').forEach(el => el.style.display = 'none');
            } else {
              document.querySelectorAll('.admin-only').forEach(el => el.style.display = 'block');
            }
          } catch (error) {
            console.error('Error fetching user info:', error);
          }
        };


        const fetchEmployeePhoto = async () => {
          try {
            const response = await axios.get('http://localhost:8087/ee172/api/backstage/employee/getPhoto'); //
            employeePhoto.value = 'data:image/jpeg;base64,' + response.data;
            console.log("employeePhoto:", employeePhoto.value)
            console.log("employeePhoto:", response.data)
          } catch (error) {
            console.error('Error fetching employee photo:', error);
          }
        };


        const fetchEmployeeInfo = async () => {
          try {
            const response = await axios.get('http://localhost:8087/ee172/api/backstage/employee/EmployeePersonalInfo');
            selectedEmployee.value = response.data;
            console.log("selectedEmployee:", selectedEmployee.value)
          } catch (error) {
            console.error('Error fetching employee info:', error);

          }
        };

        const fileChange = (e) => {
          let file = e.target.files[0];
          let readFile = new FileReader();
          readFile.readAsDataURL(file);
          readFile.onload = (e) => {
            // 從 FileReader 獲得完整的 Base64 字符串
            let fullBase64String = e.target.result;

            // 提取純 Base64 編碼部分
            // 這假設 Base64 字符串以 "data:image/jpeg;base64," 或類似的格式開頭
            let base64Data = fullBase64String.split(',')[1];


            selectedEmployee.value.empPhoto= base64Data;
            console.log("selectedEmployee:", selectedEmployee.value)
          };
        };

        const updateEmployeeDetails = async () => {
          console.log("selectedEmployee:", selectedEmployee.value)
          if (selectedEmployee.value && selectedEmployee.value.empId) {
            try {

              await axios.put(`http://localhost:8087/ee172/api/backstage/employee/updateMyInfo`, selectedEmployee.value);
              alert('員工信息已更新');
            } catch (error) {
              console.error('Error updating employee details:', error);
            }
          }
        };

        onMounted(fetchUserInfo(), fetchEmployeePhoto(),fetchEmployeeInfo());

        return {
          user,userRole,employeePhoto,selectedEmployee,updateEmployeeDetails,fileChange
        };
      }
    }).mount('#app');





  </script>



</body>
</html>